<div id="site-content">
  <div id="header-articles" class="page-header">
    <div class="container_12">
      <div class="grid_12">
        <h2><%= t('.header') %></h2>
        <p><%= t('.paragraph') %></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="first-paragraph" class="container_16 main-page-section">
    <div class="grid_8 alpha">
      <h2><%= t('.profile') %></h2>
        <p><img src="<%= asset_path 'profile.png' %>"></img>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec dolor tellus, eu imperdiet nulla. Curabitur volutpat enim dui, id dapibus purus. Quisque urna magna, eleifend rhoncus tempus vel, bibendum a ipsum. Fusce at vulputate ligula. Nam ut magna dolor, sit amet pulvinar mauris. Suspendisse potenti. Pellentesque nec est at lorem feugiat auctor sed at sem. Vestibulum sit amet felis urna. Quisque tortor tortor, porta a lobortis ac, faucibus id erat. In a augue odio, id dignissim libero. Nunc lacinia tempor arcu ut sagittis. Ut vel enim et erat imperdiet aliquet fermentum at arcu. Aliquam scelerisque rhoncus lectus, id vestibulum nunc blandit vel. Aenean vel risus id augue dignissim sagittis id a est. Nam nisi sem, ullamcorper in iaculis quis, hendrerit at diam.
        </p>
      <h2><%= t('.work') %></h2>
      <h4>Dentist at</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <h4>Dentist at</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="grid_8 omega">
      <h2><%= t('.education') %></h2>
        <h4>University of</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h4>University of</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <h2><%= t('.awards') %></h2>
      <ul class="checkmark-list">
        <li><h6>Award #1</h6></li>
        <li><h6>Award #2</h6></li>
      </ul>
    </div>
  </div>
</div>
