<div class="grid_8 alpha">
  <div class="accordion">
    <h2 class="acc_trigger"><a href="#"><%= @article.title %></a></h2>
    <div class="acc_container block">
      <p><%= @article.description %></p>
    </div>
    <h2 class="acc_trigger"><a href="#"><%= t('.before') %></a></h2>
    <div class="acc_container block">
    <%= image_tag @article.image_before.url %>
    </div>
  </div>
</div>
<div class="grid_8 omega">
  <div class="accordion">
    <h2 class="acc_trigger"><a href="#"><%= t('.method') %></a></h2>
    <div class="acc_container block">
      <p><%= @article.method %></p>
    </div>
    <h2 class="acc_trigger"><a href="#"><%= t('.after') %></a></h2>
    <div class="acc_container block">
    <%= image_tag @article.image_after.url %>
    </div>
  </div>
</div>
<%= render 'accordion.js' %>

