<div id="header">
  <div class="container_16">
    <div class="grid_10" id="header-left">
      <h2 id="name"><%= t('.name') %></h2>
      <h2 id="details1">BSC DDS MBA MSC PHD<br><%= t('.details1') %></h2>
      <h2 id="details2"><%= t('.details2') %></h2>
    </div>
    <div id ="site_heading-rh" class="grid_4 prefix_2" >
      <div id="site-heading-rh-top"> 
        <%= link_to(image_tag('greek.png', :id => "lang"), "/gr") %>
        <%= link_to(image_tag('english.png', :id => "lang"), "/en") %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
