  <div id="header">
    <div class="container_16">
      <div class="grid_10" id="header-left">
			    <h2 id="name"><%= t('.name') %></h2>
          <h2 id="details1">BSC DDS MBA MSC PHD<br><%= t('.details1') %></h2>
          <h2 id="details2"><%= t('.details2') %></h2>
		  </div>
      <div id ="site_heading-rh" class="grid_4 prefix_2" >
        <div id="site-heading-rh-top"> <img id="lang" src="<%= asset_path 'greek.png' %>" /> <img id="lang" src="<%= asset_path 'english.png' %>" /> </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
