<div id="main-nav">
    <div class="container_16">
        <ul id="nav-menu">
            <li><%= link_to(image_tag('home-icon.png'), root_path) %></li>
            <li><%= link_to t('.services'), services_path %></li>
            <li><%= link_to t('.meetthedoc'), bio_path %></li>
            <li><%= link_to t('.periodisease'), periodontology_articles_path %></li>
            <li><%= link_to t('.implants'), implants_articles_path %></li>
            <li><%= link_to t('.contact'), contact_path %></li>
        </ul>
    </div>
</div>
    