  <div class="sf-nav">
    <div class="container_16">
      <ul class="sf-menu sf-navbar sf-js-enabled sf-shadow" id="tl_navigation">
        <li class="spacer"></li>
        <li><a href="#"><%= t('.home') %></a></li>
         <li class="spacer"></li>
         <li><a href="#"><%= t('.meetthedoc') %></a></li>
         <li class="spacer"></li>
         <li><%= link_to t('.periodisease'), periodontology_articles_path %></li>
         <li class="spacer"></li>
         <li><%= link_to t('.implants'), implants_articles_path %></li>
         <li class="spacer"></li>
         <li><a href="#"><%= t('.publications') %></a></li>
         <li class="spacer"></li>
      <li class=""><a href="#" class="sf-with-ul"><%= t('.faq') %><span class="sf-sub-indicator"></span></a>
        <ul>
          <li style="width: 720px" class="offset">&nbsp;</li>
          <li><%= link_to t('.contact'), contact_path %></li>
          <li><a href="#"><%= t('.links') %></a></li>
        </ul>
      </li>
        <li class="spacer"></li>
       </ul>
    </div>
  </div>
  <div class="clear"></div>
